<form method="POST" action="/login">
  <label>Username: </label><input name="username"> </input><br><br>
  <label>Password: </label><input name="password"> </input>
  <input type="submit" value="login in">
</form>
