<h3>Create an event</h3>
<form method="POST" action="/events">
  <label>Event Name: </label><input name="event[name]"> </input><br><br>
  <label>Location: </label><input name="location[name]"> </input><br><br>
  <label>Event Time: </label> <input type="time" id="time" name="event[time]" min="00:00" max="24:00" required><br>
  <label>Event Date: </label> <input type="date" id="date" name="event[date]" required><br>
  <% @categories.each do |category| %>
   <input type="radio" name="event[category_id]" id="<%= category.id %>" value="<%= category.id %>"><%= category.name %></input><br>
 <% end %>
  <input type="submit" value="Create">
</form>
